.App {



  background-color: rgb(255, 255, 255);
  margin: 0;
  /* padding: 20px; */
  min-height: 100vh;
  
  
}

.logW{

  background-image: url('./hos2.webp');
  margin: 0;
  height: 100vh;
}


.container {
  display: flex;
  min-height: 100vh;
  
}

.sidebar {
  min-width: 250px;
  background-color: lightblue;
  
  border-right: 1px solid #ccc;
}

.main-content {
  flex-grow: 1;
  /* padding: 20px; */
}

.link {
  display: block;
  padding: 10px;
  margin: 10px 0;
  text-decoration: none;
  color: black;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: normal; /* Default state */
}

.link.active {
  font-weight: bold; /* Active state */
}

.link:hover {
  color: #454545;
  background-color: #00000029;
}

.dash-image{
  margin-top: 5vh;
  height: 150px;
}
 
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
 
}

.login-content {
  text-align: center;
  padding: 40px;
  /* border: 3px solid black; */
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #6ac8f3; /* Very light shade of blue */
  width: 300px;
}

.login-content h1 {
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin-bottom: 20px;
}

.gbut{

  width:150px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid black;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

.gbut:hover{
  background-color: #227094;
  color: black;
  font-weight: bold;
}

.card {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f3f4f6;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);

}

.card h5 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 15px;
}

.card p {
  font-family: 'Poppins', sans-serif;
  color: #333;
}



